@import url(https://fonts.googleapis.com/css?family=Press+Start+2P:regular);

body {
    font-family: 'Press Start 2P', sans-serif;
    font-weight: regular;
    background-color: yellow;
}

.container {
    padding: 0 40px;
    max-width: 1200px;
    margin: 150px auto 0 auto;
    h1 {
        font-size: 35px;
        line-height: 50px;
        text-align: center;
        margin-bottom: 30px;
    }
    @media(max-width: 1200px) {
        max-width: 970px;
    }
    @media(max-width: 970px) {
        max-width: 750px;
    }
    @media(max-width: 767px) {
        max-width: 567px;
    }
    @media(max-width: 567px) {
        max-width: none;
    }

    
}

.images {
    display: flex;
    gap: 50px;
    justify-content: space-around;
    @media(max-width: 767px) {
        gap: 25px;
    }
}

.image {
    width: 350px;
    height: 350px;
    @media(max-width: 970px) {
        width: 250px;
        height: 250px;
    }
    @media(max-width: 767px) {
       width: 200px;
       height: 200px;
    }  
    @media(max-width: 567px) {
        width: 150px;
        height: 150px;
    }
}

.image1 {
    // margin/-right: 50px;
}

.arrow {
    margin-top: 50px;
    width: 346px;
    height: 259px;
    @media(max-width: 970px) {
        width: 246px;
        height: 159px;
    }
    @media(max-width: 767px) {
        margin-top: 73px;
        width: 146px;
        height: 59px;
    }
    @media(max-width: 567px) {
        margin-top: 40px;
    }
}
.buttonWrapper {
    text-align: center;
}
.button {
    position: relative;
    display: block;
    margin-top: 50px;
    text-transform: uppercase;
    font-family: 'Press Start 2P';
    font-size: 25px;
    color: white;
    padding: 10px 10px;
    position: relative;
    background: rgb(255, 0, 0);
    // max-width: 420px;
    width: 420px;
    text-align: center;
    z-index: 2;
    font-size: 25px;
    color: white;
    height: auto;

    position: relative;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;

    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    @media(max-width: 567px) {
        width: 380px;
        line-height: 35px;
    }
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 10px;
        bottom: 10px;
        left: -10px;
        right: -10px;
        background: rgb(255, 0, 0);
        z-index: -1;
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 4px;
        bottom: 4px;
        left: -6px;
        right: -6px;
        background: rgb(255, 0, 0);
        z-index: -1;
    }
}



.button {
    
}
.button:active {
    top: 2px;
}